body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', serif;
}
h1{
  font-size: 5.62rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #3c7575;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #3c7575;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #7d7a7a 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #B9FFF8;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 75px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 5px;
}
.profile-img{
  width: 300px;
  border-radius: 50%;
}
.skill-row{
  width: 50%;
  margin: 120px auto 120px auto;
  text-align: left;
}
.skill-img-l{
  width: 15%;
  float: left;
  margin-right: 30px;
}
.skill-img-r{
  width: 15%;
  float: right;
  margin-left: 30px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright-message{
  color: #EAF6F6;
  font-size: 0.9em;
  padding: 20px 0;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.mountain{
  width: 37%;
}
.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ECC5FB;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #c98de3;
  text-decoration: none;
}
